@{
    ViewData["Title"] = "Confirmación de Venta";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header bg-dark text-white">
                    <h2 class="mb-0">¡Venta Exitosa!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Su transacción ha sido completada con éxito.</h5>

                    @if (TempData["VentaExitosa"] != null)
                    {
                        <p class="alert alert-success">@TempData["VentaExitosa"]</p>
                    }
                    else
                    {
                        <p class="card-text">Gracias por su compra.</p>
                    }

                    @if (ViewData["IdVenta"] != null)
                    {
                        <p class="card-text"><strong>Número de Venta:</strong> @ViewData["IdVenta"]</p>
                    }
                    else
                    {
                        <p class="card-text">No se pudo recuperar el número de venta.</p>
                    }



                    <hr>
                    <a asp-controller="Venta" asp-action="CrearVenta" class="btn btn-secondary ">Realizar Nueva Venta</a> |
                    <a asp-controller="Venta" asp-action="Detalle" asp-route-id="@ViewData["IdVenta"]" class="btn btn-dark ">Ver detalle</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // Incluir si tienes scripts globales o algo más que necesites
    }
}